@model List<Produs>
<div class="AllProduse">
    <h1>Toate produsele</h1>

    @if (Model != null && Model.Any())
    {
        @foreach (var produse in Model)
        {
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                <h3>@produse.Nume</h3>
                <p>@produse.Descriere</p>
                <p>Pret: @produse.Pret</p>
                <p>Categorie: @produse.Categorie.Title</p>
                <div>
                    <ul>
                        <li><a asp-action="Edit" asp-controller="Produs" asp-route-id="@produse.Id">Edit</a></li>
                        <li><a asp-action="Delete" onclick="return confirm('Esti sigur ca vrei sa stergi produsul?')" asp-route-id="@produse.Id">Delete</a></li>
                    </ul>
                </div>
            </div>
        }
    }
    else
    {
        <p>Niciun produs nu a fost gasit.</p>
    }

    <!--
    <div>
        <a style="margin-bottom:20px" asp-controller="Produs" asp-action="Add" class="btn btn-primary">Adauga un produs nou</a>
    </div>
    -->

    <div>
        <a asp-controller="User" asp-action="Dashboard" class="btn btn-secondary">Inapoi Acasa</a>
    </div>
</div>
